@media (max-width: 800px) {

    .cabecalho {
        flex-direction: row;
        justify-content:space-around;
    }

    .conteudo {
        flex-direction: column;
        padding: 10px;
    }

    .conteudo_criptar {
        width: 100%;
        margin-top: 2rem;
    }

    #inserir_texto {
        height: 20rem;
    }

    .conteudo_exibir_criptografia {
        width: 100%;
    }

    #img_txt_not_Found {
        display: none;
    }

    .botoes_criptografar {
        flex-direction: column;
        gap: 1rem;
    }

    .btn_criptografar, .btn_descriptografar {
        width: 100%;
    }

    .btn_copiar {
        width: 100%;
    }
}
