@media (max-width: 800px) {

    .cabecalho{
        flex-direction: row;
    }
    .conteudo_criptar{
        width: 100%;
    }

    .conteudo {
        flex-direction: column;
        gap: 1rem;
    }

    #inserir_texto{
        height: 20rem;
    }

    .conteudo_exibir_criptografia {
        width: 100%;
    }

    #img_txt_not_Found{
        display: none;
    }

    .botoes_criptografar {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
