@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

:root {
    --cor-primaria: #F8F4E1;
    --cor-secundaria: #AF8F6F;
    --cor-terciaria: #74512D;
    --cor-quarternaria: #543310;

    --fonte-primaria: "Roboto", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-primaria);
}

.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    background-color: #F8F4E1;
}


/* Lado esquerdo */

.conteudo_criptar {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#inserir_texto {
    width: 60rem;
    height: 35rem;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    resize: none;
    padding: 15px 10px;
}

.botoes_criptografar {
    display: flex;
    gap: 24px;
}

.btn_criptografar, .btn_descriptografar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: var(--cor-terciaria) solid 2px;
    font-size: 1rem;
}

.btn_criptografar {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.btn_descriptografar {
    background-color: transparent;
    color: var(--cor-secundaria);
}

/* Lado direito */

.conteudo_exibir_criptografia {
    padding: 15px 5px;
    width: 400px;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.212);
}

.conteudo_exibir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    visibility: visible;
    
}

.conteudo_texto {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    gap: 1rem;
    overflow: auto; 
    max-height: 20rem; 
    overflow-wrap: break-word; 
}

.conteudo_criptografia {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 25px;
}

.conteudo_texto_criptografia {
    overflow-wrap: break-word;
    overflow: auto;
    border-radius: 5px;
    height: 600px;
  }

#texto_criptografado {
    font-size: 24px;
    text-wrap: wrap; /* Preserve line breaks */
}

.campo_btn{
    display: flex;
    justify-content: center;
}
.btn_copiar{
    width: 200px;
    height: 67px;
    border-radius: 24px;
    border: var(--cor-terciaria) solid 2px;
    font-size: 1rem;
}