@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

:root {
    --cor-1: #0D0D0D;
    --cor-2:#E6DCF2;
    --cor-3: #D2C9F2;
    --cor-4: #553eac;
    --cor-5:#e6dfff;
    --cor-6: #fff;

    --fonte-1: "Roboto", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-1);
}

.conteudo {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 20px;
    background-color: var(--cor-5);
}

/* Header */

.cabecalho{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#btn_gravar_audio{
    border-radius: 3rem;
    background-color: #fffafa;
    border: none;
    box-shadow: 0 0px 32px -8px rgb(255, 255, 255);
    padding: 5px;
}


/* Lado esquerdo */


.conteudo_criptar {
    width: 750px;
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#inserir_texto {
    height: 32rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    resize: none;
    padding: 15px 10px;
    word-break: break-word; 
    overflow-wrap: break-word;
}

.aviso{
    display: flex;
    gap: 20px;

}

.botoes_criptografar {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btn_criptografar, .btn_descriptografar {
    width: 15.5rem;
    height: 4.18rem;
    border-radius: 1.5rem;
    border: var(--cor-3) solid 2px;
    font-size: 1rem;
}

.btn_criptografar {
    background-color: transparent;
    color: var(--cor-1); 
} 

.btn_criptografar:hover{
    background-color: var(--cor-2);
    cursor: pointer;
}

.btn_descriptografar {
    background-color: transparent;
    color: var(--cor-1);
}

.btn_descriptografar:hover{
        background-color: var(--cor-2);
        cursor: pointer;
}

/* Lado direito */

.conteudo_exibir_criptografia {
    background-color: var(--cor-6);
    padding: 15px 0px;
    border-radius: 32px;
    box-shadow: 0 1.5rem 32px -8px rgba(0, 0, 0, 0.212);
    display: flex;
    width: 400px;
}

.conteudo_exibir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    visibility: visible;
    width: 100%;
    
}

#img_txt_not_Found{
    width: 100%;
}

.conteudo_texto {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    gap: 1rem;
    overflow: auto; 
    max-height: 20rem; 
    overflow-wrap: break-word; 
}

.conteudo_criptografia {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 25px;
    width: 100%;
}

.conteudo_texto_criptografia {
    overflow-x: hidden;
    overflow-y:auto;  
    border-radius: 5px;
    width: 100%;
    height: 30rem;
    padding: 10px; 
  }

.txt_nao_encontrado{
    font-size: 1.7rem;
}

#texto_criptografado {
    font-size: 1.5rem;
    word-break: break-word; 
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.campo_btn{
    display: flex;
    justify-content: center;
    width: 50%;
}

.btn_copiar{
    width: 200px;
    height: 67px;
    border-radius: 1.5rem;
    border: var(--cor-3) solid 2px;
    font-size: 1rem;
}

/*pop up*/
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.popup button {
    background: #007bff;
    color: white;
    border: none;
    width: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background: #0056b3;
}


/* footer */
.rodape {
    display: flex;
    background-color: var(--cor-4);
    color: #fff;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
}

.rodape p {
    justify-content: center;
    margin: 5px 0;
}
