@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

:root {
    --cor-1: #0D0D0D;
    --cor-2:#E6DCF2;
    --cor-3: #D2C9F2;
    --cor-4: #553eac;
    --cor-5:#fdfbff;
    --cor-6: #fff;

    --fonte-1: "Roboto", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-1);
}

.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    background-color: var(--cor-5);
}

.cabecalho{
    border: green solid;
}


/* Lado esquerdo */

.conteudo_criptar {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;


    border: red solid;
}

#inserir_texto {
    width: 60rem;
    height: 35rem;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    resize: none;
    padding: 15px 10px;
}

.botoes_criptografar {
    display: flex;
    gap: 24px;
}

.btn_criptografar, .btn_descriptografar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: var(--cor-3) solid 2px;
    font-size: 1rem;
}

.btn_criptografar {
    background-color: transparent;
    color: var(--cor-1); 
} 

.btn_criptografar:hover{
    background-color: var(--cor-2);
    cursor: pointer;
}

.btn_descriptografar {
    background-color: transparent;
    color: var(--cor-1);
}

.btn_descriptografar:hover{
        background-color: var(--cor-2);
        cursor: pointer;
}

/* Lado direito */

.conteudo_exibir_criptografia {
    background-color: var(--cor-6);
    padding: 15px 5px;
    width: 400px;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.212);
    display: flex;


    border: blue solid;
}

.conteudo_exibir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    visibility: visible;
    
}

.conteudo_texto {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    gap: 1rem;
    overflow: auto; 
    max-height: 20rem; 
    overflow-wrap: break-word; 
}

.conteudo_criptografia {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 25px;
}

.conteudo_texto_criptografia {
    overflow-wrap: break-word;
    overflow: auto;
    border-radius: 5px;
    height: 600px;
  }

#texto_criptografado {
    font-size: 24px;
    text-wrap: wrap; 
}

.campo_btn{
    display: flex;
    justify-content: center;
}

.btn_copiar{
    width: 200px;
    height: 67px;
    border-radius: 24px;
    border: var(--cor-3) solid 2px;
    font-size: 1rem;
}

/* footer */
.rodape {
    background-color: var(--cor-4);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape p {
    margin: 5px 0;
}